$light-color: #ffffff;
$dark-color: #41364A;

/* h1 Logo Style */
.logo {
	font-family: 'Open Sans', Arial, sans-serif;
  font-size: 24px;
}

.logo a {
  color: $light-color;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.footer {
  a {
    color: $light-color;
    &:hover {
      opacity: .7;
    }
  }
}
